.button {
  display: flex;
  align-items: center;
  width: 133.25px;
  height: 36.49px;
  padding: 9.74px 22.27px;
  border-radius: 2.78px;
  gap: 5.57px;
  font-size: 11px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  background-color: var(--brand-primary);
  border: none;
  cursor: pointer;
}

.register {
  font-family: var(--heading-headline-4);
  color: var(--default-white);
  font-size: 11px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  width: 72px;
  height: 17px;
}

.arrow > img {
  width: 11.14px;
  height: 11.14px;
}
